p {
  color: black;
}
h1 {
  color: white;
  background-color: red;
}
h2 {
  color: blue;
  background-color: lightyellow;
}
#zentai {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#zentai > div {
  background-color: lightyellow;
  padding: 5px;
}

