p {
	color: navy;
}

p.info {
	font-size: small; 
    background-color: #dfdfdf;
    
}

h1 {
	color: white;
    text-shadow: 2px 2px 4px navy;
    background-color: #7f7fcf;
    padding: 10px;
}

h2 {
	font-family: cursive;
    color: #3f3faf; 
    background: linear-gradient(to bottom, white, #ffefaf);
}

div#zentai {
	display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: 200px;          
    column-gap: 10px;               
    width: 1024px;
}

div#zentai > div {
	background-color: #ffefaf;     
    margin: 0;                     
    padding: 5px;                  
   

}

img.sign {
    float:right;
}
